<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>My Image</title>

    <style>
        .bg{
            background:#0100ca!important;

        }

    </style>

  </head>
  {% include 'navbar.html' %}
  <body>

{#    main code#}

    <div class="container-flud">
        <div class="row">
            <div class="col-md-2">
{#                categeory#}
                <div class="list-group mt-3">
                    <a href="home" class="list-group-item list-group-item-action active" aria-current="true">
                     All Images
                    </a>

                    {% for c  in cats %}
                    <a href="/Category/{{ c.pk }}" class="list-group-item list-group-item-action">{{ c.title }}</a>

                    {% endfor %}

                </div>





            </div>
            <div class="col-md-10">
{#                Images#}
            <div class="row  mt-3">
                <div class="col-md-12">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        {% for i in images %}
                            <div class="card" >

                                <img class="card-img-top" src="/media/{{ i.image }}"  alt="card image cap">
                                <div class="card-body">

                                    <h5 class="card-title">{{ i.title }}</h5>
                                    <p class="card-text">{{ i.description }}</p>
                                    <a href="#" class="btn btn-primary">view</a>
                                </div>
                            </div>



                        {% endfor %}
                    </div>
                </div>
            </div>




            </div>
        </div>
    </div>





















    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>